#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #333;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #3c8dbc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    background: #222;
}

#sidebar ul li a:focus {
    color: #fff;
}

.nav>li>a.head:focus {
    background: #333;
}

a.active {
    color: #fff;
    border-left: 5px solid #3eddc8;
    border-top: 1px solid #3eddc8;
    border-bottom: 1px solid #3eddc8;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #333333;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #2c3b41;
}
