<style type="text/css">
    .max-height-full {
        overflow-y: scroll;
        max-height: {{maxheight}};
    }
</style>
<div>
    <section class="content-header" style="margin-bottom: 10px;">
        <h1>
        {{course_name}}
        <small>Announcements</small>
      </h1>
    </section>
    
    <div class="main-content">
        <div class="row">
            <div class="col-xs-12 col-md-{{announcement_detail == null ? '12' : '4'}} max-height-full scroll">
                <button type="button" ng-if="isTeacher" class="btn btn-success btn-sm" data-toggle="modal" data-target="#newAnnouncementModal" ng-click="initNewAnnouncement()" style="float:right">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </button>
                <!-- The time line -->
                <ul class="timeline" ng-repeat="time in timeline" style="margin-top: 30px;">
                    <li class="time-label">
                        <span class="bg-red" ng-bind="time.date |  date: 'dd MMM. yyyy'" style="font-size: 11px;" />
                    </li>
                    <li ng-repeat="announcement in time.announcements" ng-click="setAnnouncementId(announcement.ANNOUNCEMENT_ID)">
                        <i class="fa fa-bullhorn bg-blue"></i>
                        <div class="timeline-item">
                            <span class="time"><i class="fa fa-clock-o"></i> <span ng-bind="time.date |  date: 'HH:mm'"></span></span>
                            <h3 class="timeline-header"><a href="#"><span ng-bind="announcement.NAME"></span></a> posted an announcement #{{announcement.ANNOUNCEMENT_ID}}</h3>
                            <div class="timeline-body">
                                <h4 ng-bind="announcement.TITLE"></h4> 
                                <span ng-bind="announcement.CONTENT" class="demo-detail"> </span>
                            </div>
                            <div class="timeline-footer">
                                <a class="btn btn-primary btn-xs" ng-click="setAnnouncementId(announcement.ANNOUNCEMENT_ID)">Read more</a>
                                <a class="btn btn-success btn-xs" ng-if="isTeacher" data-toggle="modal" data-target="#newAnnouncementModal"
                                ng-click="editAnnoucement(announcement.ANNOUNCEMENT_ID)">Edit</a>
                                <a class="btn btn-danger btn-xs" ng-if="isTeacher" ng-click="deleteAnnoucement(announcement.ANNOUNCEMENT_ID)">Delete</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-8" style="{{announcement_detail == null ? 'display: none' : '';}}">
                <div class="box">
                    <div class="box-header">
                        <a href="#">
                            <h3 class="box-title" ng-bind="announcement_detail.TITLE" style="font-weight: bold"></h3>
                        </a>
                    </div>
                    <div class="box-footer no-padding" style="position: relative;">
                        <ul class="nav nav-stacked">

                            <li>
                                <a href="#">
                                    <label>Author: </label>
                                    <br/><span ng-bind="announcement_detail.NAME"></span></a>
                            </li>
                            <li>
                                <a href="#">
                                    <label>Content: </label>
                                    <br/><span ng-bind="announcement_detail.CONTENT"></span></a>
                            </li>
                            <li>
                                <a href="#">
                                    <label>Created at: </label>
                                    <br/><span ng-bind="announcement_detail.DATE_CREATED | date: 'dd/MM/yyyy HH:mm:ss'"></span></a>
                            </li>
                            <li>
                                <a href="#">
                                    <label>Attachments: </label>
                                    <br/>
                                    <span ng-if="announcement_attachment.length == 0">
                                        No attachment.
                                    </span>
                                </a>
                                <div class="row">
                                    <div class="col-lg- col-sm-6 col-xs-12" ng-repeat="attachment in announcement_attachment">
                                        <a class="info-box" href="{{attachment.URL}}" style="color: blue" target="_self" download="{{attachment.NAME}}">
                                            <span class="info-box-icon bg-aqua"><i class="glyphicon glyphicon-download-alt"></i></span>
                                            <div class="info-box-content">
                                                <span class="info-box-text" ng-bind="attachment.NAME"></span>
                                                <span ng-bind="attachment.ATTACHMENT_DESCRIPTION" style="font-size: 12px;color: #333;"></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <button class="btn btn-danger btn-md pull-right" ng-click="announcement_detail = null"><i class="fa fa-times-circle"></i> Close</button>

            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="newAnnouncementModal" tabindex="-1" role="dialog" aria-labelledby="newAnnouncementModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="newAnnouncementModalLabel" style="font-weight: bold;">Create a new announcement</h4>
                </div>
                <div class="modal-body">
                    <form id="announcement-form">
                        <div class="form-group">
                            <label for="announcement-title" class="control-label">Title:</label>
                            <input type="text" class="form-control" id="announcement-title" ng-model="announcement.TITLE">
                        </div>
                        <div class="form-group">
                            <label for="announcement-content" class="control-label">Content:</label>
                            <textarea class="form-control" id="announcement-content" ng-model="announcement.CONTENT"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="announcement-file" class="control-label">Choose a file to upload</label>
                            <input type="file" id="myfile" onchange="angular.element(this).scope().loadedfile()" style="display: none;">
                            <div class="input-group" style="width: 100%;  margin-bottom: 3px;" ng-repeat="resource in announcement.resources">
                                <input type="text" ng-model="resource.AttNAME" id="AttNAME" readonly="readonly" class="form-control" style="width: 36%">
                                <input type="text" ng-model="resource.DESCRIPTION" id="DESCRIPTION" maxlength="64" placeholder="A sort desciprtion" class="form-control" style="width: 56%">
                                <button class="btn btn-danger btn-md"><span class="glyphicon glyphicon-trash"></span></button>
                                <input type="text" ng-model="resource.ATTACHMENT_ID" style="display: none;">
                            </div>
                            <button class="btn btn-primary btn-md" onclick="$('#myfile').click()" style="float: right;"><span class="glyphicon glyphicon-cloud-upload"></span> Upload file</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateAnnouncement(announcement)">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>