<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
    <div class="main-content">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Created by</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="announcement in announcements" ng-click="setAnnouncementId(announcement.ANNOUNCEMENT_ID)">
                    <td ng-bind="announcement.TITLE"></td>
                    <td ng-bind="announcement.NAME"></td>
                    <td ng-bind="announcement.DATE_CREATED"></td>
                    <td><a href="#" class="btn btn-effets btn-primary btn-sm"><span>Edit</span></a></td>
                </tr>
            </tbody>
        </table>

        <!---------- Announcement detail---------->
        <div class="announcement-detail">
            <ul>
                <li>
                    <span>Author:</span>
                    <span ng-bind="announcement_detail.NAME"></span>
                </li>
                <li>
                    <span>Title:</span>
                    <span ng-bind="announcement_detail.TITLE"></span>
                </li>
                <li>
                    <span>Content:</span>
                    <span ng-bind="announcement_detail.CONTENT"></span>
                </li>
                <li>
                    <span>Created at:</span>
                    <span ng-bind="announcement_detail.DATE_CREATED"></span>
                </li>
                <li>
                    <span>Attachments:</span>
                    <ul>
                        <li ng-repeat="attachment in announcement_attachment">
                            <a href="attachment.URL" ng-bind="attachment.NAME"></a>
                        </tr>
                    </ul>
                </li>
                <a href="#" class="btn btn-effets btn-primary btn-sm"><span>Edit</span></a>
            </ul>

        </div>
    </div>

        <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newAnnouncementModal">
      Create new announcement
    </button>

    <!-- Modal -->
    <div class="modal fade" id="newAnnouncementModal" tabindex="-1" role="dialog" aria-labelledby="newAnnouncementModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="newAnnouncementModalLabel" style="font-weight: bold;">Create a new announcement</h4>
                </div>
                <div class="modal-body">
                    <form id="announcement-form">
                        <div class="form-group">
                            <label for="announcement-title" class="control-label">Title:</label>
                            <input type="text" class="form-control" id="announcement-title" ng-model="announcement.TITLE">
                        </div>
                        <div class="form-group">
                            <label for="announcement-content" class="control-label">Content:</label>
                            <textarea class="form-control" id="announcement-content" ng-model="announcement.CONTENT"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="announcement-file" class="control-label">Choose a file to upload</label>
                            <input type="file" class="filestyle" data-icon="false" id="announcement-file" class="custom-file-input">                        
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateAnnouncement(announcement)">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>