<div>
    <div class="main-content">

            <!-- Button trigger modal -->
        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#newAssignmentModal">
          <span class="glyphicon glyphicon-plus"></span> Add
        </button>

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Assigment</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>Title</th>
                                    <th>Created by</th>
                                    <th>Created at</th>
                                    <th>Start date</th>
                                    <th>Due date</th>
                                </tr>
                                <tr ng-repeat="assignment in assignments" ng-click="setAssignmentId(assignment.ASSIGNMENT_ID)">
                                    <td ng-bind="assignment.TITLE"></td>
                                    <td ng-bind="assignment.NAME"></td>
                                    <td ng-bind="assignment.DATE_CREATED"></td>
                                    <td ng-bind="assignment.START_DATE"></td>
                                    <td ng-bind="assignment.DUE_DATE"></td>
                                    </td>
                                    <td style="text-align: right">
                                        <button type="button" class="btn btn-success btn-sm" >
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </button>
                                        <button type="button" class="btn btn-success btn-sm">
                                            <span class="glyphicon glyphicon-floppy-disk"></span>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            <!-- /.box -->
            </div>
        </div>
    </div>

    <div class="box-footer no-padding">
        <ul class="nav nav-stacked">
            <li><a href="#"><label>Author: </label><br/><span ng-bind="assignment_detail.NAME"></span></a></li>
            <li><a href="#"><label>Title: </label><br/><span ng-bind="assignment_detail.TITLE"></span></a></li>
            <li><a href="#"><label>Desciprtion: </label><br/><span assignment_detail.DESCRIPTION></span></a></li>
            <li><a href="#"><label>Created at: </label><br/><span ng-bind="assignment_detail.DESCRIPTION"></span>
            <li><a href="#"><label>Start date: </label><br/><span ng-bind="assignment_detail.START_DATE"></span></a></li>
            <li><a href="#"><label>Due date: </label><br/><span ng-bind="assignment_detail.DUE_DATE"></span></a></li>
            <li>
                <a href="#">
                    <label>Attachments: </label>
                    <br/>
                     <span ng-if="assignment_attachment.length == 0">
                        N/A
                    </span>
                </a>
                <ul>
                    <li ng-repeat="attachment in assignment_attachment">
                        <a href="{{attachment.attURL}}" style="color: blue" target="_self" download="{{attachment.attNAME}}" ng-bind="attachment.NAME"></a>
                    </li>
                </ul>
               
            </li>
        </ul>
    </div>

    <br>

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Submission</h3>
        </div>
        <div class="box-footer no-padding" ng-if="submission">
            <ul class="nav nav-stacked">
                <li><a href="#"><label>Created at: </label><br/><span ng-bind="submission.DATE_CREATED"></span></a></li>
                <li><a href="#"><label>Content: </label><br/><span ng-bind="submission.CONTENT"></span></a></li>
                <li>
                    <a href="#">
                        <label>Attachments: </label>
                        <br/>
                        <span ng-if="assignment_attachment.length == 0">
                            N/A
                        </span>
                    </a>
                    <ul>
                        <li ng-repeat="sa in submission_attachment">
                            <a href="{{sa.attURL}}" style="color: blue" target="_self" download="{{sa.attNAME}}" ng-bind="sa.NAME"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="box-footer no-padding" ng-if="submission == null">
            <ul class="nav nav-stacked">
                <li><a href="#">No submission.</a></li>
            </ul>
        </div>
    </div>

    
    <!-- Modal -->
    <div class="modal fade" id="newAssignmentModal" tabindex="-1" role="dialog" aria-labelledby="newAssignmentModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="newAssignmentModalLabel" style="font-weight: bold;">Create a new assignment</h4>
                </div>
                <div class="modal-body">
                    <form id="assignment-form">
                        <div class="form-group">
                            <label for="assignment-title" class="control-label">Title:</label>
                            <input type="text" class="form-control" id="assignment-title" ng-model="assignment.TITLE">
                        </div>
                        <div class="form-group">
                            <label for="assignment-desc" class="control-label">Content:</label>
                            <textarea class="form-control" id="assignment-desc" ng-model="assignment.DESCRIPTION"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="assignment-start-date" class="control-label">Start date:</label>
                            <input type="datetime-local" class="form-control" id="assignment-start-date" ng-model="assignment.START_DATE">
                        </div>
                        <div class="form-group">
                            <label for="assignment-due-date" class="control-label">Due date:</label>
                            <input type="datetime-local" class="form-control" id="assignment-due-date" ng-model="assignment.DUE_DATE">
                        </div>
                        <div class="form-group">
                            <label for="assignment-file" class="control-label">Choose a file to upload</label>
                            <input type="file" class="filestyle" data-icon="false" id="assignment-file" class="custom-file-input">                        
                        </div>
                        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateAssignment(assignment)">Save</button>
                </div>
            </div>
        </div>
    </div>

</div>