<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
    <div class="main-content">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>Created by</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="discussion in discussions" ng-click="setDiscussionId(discussion.DISCUSSION_ID)">
                    <td ng-bind="discussion.TOPIC"></td>
                    <td ng-bind="discussion.NAME"></td>
                    <td ng-bind="discussion.DATE_CREATED"></td>
                </tr>
            </tbody>
        </table>

        <!---------- Announcement detail---------->
        <div class="discussion-detail">
        	<div>Discussion detail</div>
            <ul>
            	<li ng-repeat="message in messages">
                    <div> 
                    	<span>Created by:</span>
                    	<span ng-bind="message.NAME"></span>
                    </div>       
                    <div> 
                    	<span>Created at:</span>
                    	<span ng-bind="message.DATE_CREATED"></span>
                    </div> 
                    <div> 
                    	<span>Content:</span>
                    	<span ng-bind="message.CONTENT"></span>
                    </div>                    
                </li>
            </ul>

        </div>
    </div>

        <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newDiscussionModal">
      Create new discussion
    </button>

    <!-- Modal -->
    <div class="modal fade" id="newDiscussionModal" tabindex="-1" role="dialog" aria-labelledby="newDiscussionModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="newDiscussionModalLabel" style="font-weight: bold;">Create a new discussion</h4>
                </div>
                <div class="modal-body">
                    <form id="discussion-form">
                        <div class="form-group">
                            <label for="discussion-topic" class="control-label">Topic:</label>
                            <input type="text" class="form-control" id="discussion-topic" ng-model="discussion.TOPIC">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addDiscussion(discussion)">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>