<div>

    <section class="content-header" style="margin-bottom: 10px;">
        <h1>
        {{course_name}}
      </h1>
    </section>

    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-header with-border">
                      <h3 class="box-title" style="font-weight: bold;">All discussions</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="box-group" id="accordion">
                            <div class="panel box box-primary" ng-repeat="discussion in discussions">
                                <div class="box-header with-border">
                                    <a data-toggle="collapse" data-parent="#accordion" style="cursor: pointer;" class="collapsed" aria-expanded="false" ng-click="setDiscussionId(discussion.DISCUSSION_ID, discussion.TOPIC);">
                                        <div class="user-block">
                                            <img class="img-circle" src="images/discussion.png" alt="User Image">
                                            <span class="username" ng-bind="discussion.TOPIC"></span>
                                            <span class="description" title="{{ann.DATE_CREATED | date: 'dd/MM/yyyy  HH:mm:ss'}}">Created by {{discussion.NAME}} - {{discussion.DATE_CREATED | date: 'dd/MM/yyyy'}}</span>
                                            
                                        </div>

                                    </a>
                                </div>
                                
                                <div id="collapse{{discussion.DISCUSSION_ID}}" class="panel-collapse collapse " ng-class="discussion.DISCUSSION_ID == reading ? 'in' : ''" aria-expanded="false">

                                    <div class="box box-widget">
                                        <div class="box-footer box-comments">
                                            <div class="box-comment" ng-repeat="message in messages">
                                                    <!-- User imagese -->
                                                <img class="img-circle img-sm" src="images/user_admin.png" alt="User Image">

                                                <div class="comment-text">
                                                    <span class="username">
                                                        <span ng-bind="message.NAME"></span>
                                                        <span class="text-muted pull-right" ng-bind="message.DATE_CREATED | date: 'dd/MM/yyyy HH:ss'"></span>
                                                    </span><!-- /.username -->
                                                    <span ng-bind="message.CONTENT"></span>
                                                </div>
                                                    <!-- /.comment-text -->
                                            </div>
                                        </div>
                                        <div class="box-footer">
                                            <form action="#" method="post">
                                                <img class="img-responsive img-circle img-sm" src="images/user_admin.png" alt="Alt Text">
                                                <!-- .img-push is used to add margin to elements next to floating images -->
                                                <div class="img-push">
                                                    <input type="text" class="form-control input-sm" placeholder="Press enter to post comment">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- /.box-body -->
                </div>
                  <!-- /.box -->
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="newDiscussionModal" tabindex="-1" role="dialog" aria-labelledby="newDiscussionModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="newDiscussionModalLabel" style="font-weight: bold;">Create a new discussion</h4>
                </div>
                <div class="modal-body">
                    <form id="discussion-form">
                        <div class="form-group">
                            <label for="discussion-topic" class="control-label">Topic:</label>
                            <input type="text" class="form-control" id="discussion-topic" ng-model="discussion.TOPIC">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addDiscussion(discussion)">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>