<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
    <div class="main-content">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Grade</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="gradebook in gradebooks">
                    <td ng-bind="gradebook.TITLE"></td>
                    <td ng-bind="gradebook.GRADE"></td>
                    <td ng-bind="gradebook.NOTE"></td>
                </tr>
            </tbody>
        </table>
</div>