<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
    <div class="main-content">

        <div style="padding: 10px">
        <h3>Bước 2:</h3>
        <div id="drop">Kéo file vào đây</div>
        <p style="margin-top: 10px;">Hoặc là chọn file<input class="form-control file-upload" type="file" name="xlfile" id="xlf" style="display: inline;" /></p>
    </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Grade</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="gradebook in gradebooks">
                    <td ng-bind="gradebook.TITLE"></td>
                    <td ng-bind="gradebook.GRADE"></td>
                    <td ng-bind="gradebook.NOTE"></td>
                </tr>
            </tbody>
        </table>
</div>