<section class="content" style="overflow: hidden;">
	<div class="row">
		<div class="col-md-8">
          	<div class="box box-solid">
	            <div class="box-header with-border">
	              <h3 class="box-title" style="font-weight: bold;">Recent announcements</h3>
	            </div>
	            <!-- /.box-header -->
	            <div class="box-body" ng-init="reading = ''">
	              	<div class="box-group" id="accordion">
	                	<div class="panel box box-primary" ng-repeat="ann in recent_announcements">
		                	<div class="box-header with-border">
								<a data-toggle="collapse" data-parent="#accordion" style="cursor: pointer;" class="collapsed" aria-expanded="false" ng-click="setAnnouncementId(ann.ANNOUNCEMENT_ID);reading == '' ? reading = ann.ANNOUNCEMENT_ID : reading = ''">
									<div class="user-block">
										<img class="img-circle" src="images/teacher.png" alt="User Image">
										<span class="username" ng-bind="ann.AUTHOR_NAME"></span>
										<span class="description" title="{{ann.DATE_CREATED | date: 'dd/MM/yyyy  HH:mm:ss'}}">Posted an announcement - {{ann.DATE_CREATED | date: 'dd/MM/yyyy'}}</span>
										<span class="description pull-right" style="font-weight: bold" ng-bind="ann.CLASS_NAME"></span>
									</div>

								</a>
		            		</div>
		                  	
		                  	<div id="collapse{{ann.ANNOUNCEMENT_ID}}" class="panel-collapse collapse " ng-class="ann.ANNOUNCEMENT_ID == reading ? 'in' : ''" aria-expanded="false">

			                    <div class="box-body">
									<p ng-bind="ann.CONTENT"></p>
									<p>...</p>
			            		</div>
							</div>
		                </div>
					</div>
		        </div>
		            <!-- /.box-body -->
			</div>
	          <!-- /.box -->
		</div>


		<div class="col-md-4">
			<div class="box box-widget widget-user-2">
	            <!-- Add the bg color to the header using any of the bg-* classes -->
	            <div class="widget-user-header bg-yellow">
					<div class="widget-user-image">
						<img class="img-circle" src="images/user_admin.png" alt="User Avatar">
					</div>
	              <!-- /.widget-user-image -->
	              <h3 class="widget-user-username" ng-bind="profile.name"></h3>
	              <h5 class="widget-user-desc">Profiles</h5>
	            </div>
	            <div class="box-footer no-padding">
	              	<ul class="nav nav-stacked">
	              		<li><a href="#"><span class="profile-label" >User ID </span><span class="pull-right" ng-bind="profile.id"></span></a></li>
	                	<li><a href="#"><span class="profile-label">Email </span><span class="pull-right" ng-bind="profile.email"></span></a></li>
	                	<li><a href="#"><span class="profile-label">Total courses </span><span class="pull-right badge bg-blue" ng-bind="profile.total_course"></span></a></li>
	                	<li><a href="#"><span class="profile-label">On-going courses </span><span class="pull-right badge bg-green-active" ng-bind="profile.on_going_course"></span></a></li>
	                	
	              	</ul>
	            </div>
      		</div>
		</div>
	</section>